{% extends 'base.html' %}
{% block bootstrap5_extra_head %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}
<h1>{% block title %}Buy cool vintage product{% endblock %}</h1>
{% block content %}
<div class="container">
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3>Stubborn Attachments</h3>
          <h5>$20.00</h5>
        </div>
      </div>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </div>
{% endblock %}
